@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Press+Start+2P&family=Quantico:wght@400;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Quantico', sans-serif;
    color: white;
}

body {
    background-image: url('./media/assets/bg-css.png');
}

.home-bg-section {
    position: relative;
}

.home-bg-section > * {
    position: relative;
}

.home-bg-section::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-image: url('./media/assets/bg-css-wall.png');
}

.img-hidden {
    opacity: 0;
    scale: 0;
    transition-duration: .25s;
    transform-origin: 0 0;
}

.img-shown {
    opacity: 1;
    scale: 1;
}